* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    color: white;
    text-decoration: none;
}

main {
    background-color: red;
}

aside {
    background-color: green;
}

.navbar {
    display: flex;
    justify-content: space-between;

    padding: 24px;
    background-color: blue;
}

.btn-pill {
    margin-left: 12px;

    border-radius: 24px;
    padding: 12px 24px;
    background-color: rgb(10, 228, 228);
}

.btn-pill-outline {
    margin-left: 12px;

    border: 1px solid white;
    border-radius: 24px;
    padding: 12px 24px;
}

.row {
    display: flex;
}

.col-grande {
    width: 60%;
}

.col-piccola {
    width: 40%;
}